<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

  <div fxFlex="40">
   
    
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Comments</h3>
          </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <mat-list fxFlex>
            <mat-list-item *ngFor="let cmd of dish.comments">
              <span matLine> {{cmd.comment}} </span>
              <span matLine> {{cmd.rating}} Stars </span>
              <span matLine> -- {{cmd.author}} {{cmd.date | date}}</span>
              
            </mat-list-item>
            <mat-list-item *ngIf='dishForm.valid'>
              <span matLine> {{dishForm.value.comment}} </span><br>
              <span matLine> {{dishForm.value.rating}} Stars </span><br>
              <span matLine> -- {{dishForm.value.author}} </span><br>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <form [formGroup]="dishForm" (ngSubmit)="onSubmit()" >
  
          
        
          
          <mat-form-field class="full-width">
            <input matInput type="text" formControlName="author" placeholder="Name" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
          
          </mat-form-field>
          
          <table class="form-size">
            <td>
              <mat-slider  formControlName="rating" thumbLabel tickInterval="1" min="1" max="5" step="1" value="5"></mat-slider>
            </td>
            </table>
          
              <mat-form-field class="full-width">
                <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
              </mat-form-field>
            
              
            
          <p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="!dishForm.valid">Submit</button>
      
          </p>
        </form>
      </mat-card>
    </div>


  </div>

</div>